@inherits LayoutComponentBase

<div class="mobile-shell">
    <main class="mobile-content">
        <article class="content">
            @Body
        </article>
    </main>

    <NavMenu />
</div>

<div id="blazor-error-ui" data-nosnippet>
    Es ist ein Fehler aufgetreten.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">X</span>
</div>
