<nav class="mobile-nav" aria-label="Mobile Navigation">
    <NavLink class="mobile-tab" href="/einsatz">Einsatz</NavLink>
    <NavLink class="mobile-tab" href="/teams">Teams</NavLink>
    <NavLink class="mobile-tab" href="/notizen">Notizen</NavLink>
    <NavLink class="mobile-tab" href="/funk">Funk</NavLink>
</nav>

