<nav class="mobile-nav" aria-label="Mobile Navigation">
    <NavLink class="mobile-tab" href="/einsatz">
        <i class="bi bi-alarm"></i>
        <span>Einsatz</span>
    </NavLink>
    <NavLink class="mobile-tab" href="/teams">
        <i class="bi bi-people"></i>
        <span>Teams</span>
    </NavLink>
    <NavLink class="mobile-tab" href="/notizen">
        <i class="bi bi-journal-text"></i>
        <span>Notizen</span>
    </NavLink>
    <NavLink class="mobile-tab" href="/funk">
        <i class="bi bi-broadcast"></i>
        <span>Funk</span>
    </NavLink>
</nav>

