<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Einsatzueberwachung</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Startseite</NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/einsatz-start">EinsatzStart</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/einsatz-monitor">EinsatzMonitor</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/einsatz-karte">EinsatzKarte</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/einsatz-bericht">EinsatzBericht</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/einsatz-archiv">EinsatzArchiv</NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/stammdaten">Stammdaten</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/einstellungen">Einstellungen</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/wetter">Wetter</NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/popout-notes">PopoutNotes</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/popout-teams">PopoutTeams</NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/mobile-connect">MobileConnect</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/mobile-dashboard">MobileDashboard</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/mobile-karte">MobileKarte</NavLink>
        </div>
    </nav>
</div>

